/* src/components/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background:red;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .main {
    /* height: 100vh; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-snap-type: y proximity; */
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
.main > .section {
     /* height: 70vh; */
    /*display: flex;
    justify-content: center;
    align-items: center; */
    /* background: #7c68ee; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* .main > .section:nth-child(odd) {
    background: #80ffd4;
} */

.main > .section > .item-section {
}

.group {
  padding-left:60px;
  padding-top: 20px;
  /* margin: 8px; */
}

input[type="radio"] {
  display: none;
}

.label {
  position: relative;
}

.label::before {
  content: "";
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22/%3E%3Cpath%20fill%3D%22%2327ae60%22%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010%2010-4.48%2010-10S17.52%202%2012%202zm-2%2015l-5-5%201.41-1.41L10%2014.17l7.59-7.59L19%208l-9%209z%22/%3E%3C/svg%3E');
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -44px;
  top: -4px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="radio"]:checked + .label::before {
  transform: scale(1) rotateZ(0deg);
}

.label::after {
  content: "";
  border: 2px solid #27ae60;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -42px;
  top: -2px;
  border-radius: 50%;
}
  